@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Fira+Sans:ital,wght@0,400;0,500;1,400&display=swap");
body {
  margin: 0;
}

section {
  font-family: "Fira Sans", sans-serif;
}
section a {
  color: #343434;
  text-decoration: none;
}
section a:active {
  color: #5a5a5a;
}
section a:hover {
  color: #898989;
}
section header {
  z-index: 1;
}
section header.open {
  width: 17vw;
  height: 33vh;
  border-radius: 0 0 5px 0;
  box-shadow: 1px 1px rgba(155, 155, 155, 0.7);
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 2em;
}
section header.open a:hover {
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5);
}
section header.open ul.nav {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
section header.open ul.nav li {
  list-style: none;
  margin-bottom: 0.5em;
}
section header.open h1, section header.open h2 {
  font-family: "Cantarell", sans-serif;
}
section header.open h1.home, section header.open h2.home {
  margin-top: 4em;
}
section header.open button {
  width: 48px;
  height: 48px;
  top: 32px;
  left: 32px;
  position: absolute;
}
section header.open button img {
  width: 2.5em;
  display: block;
  margin-left: 2px;
}
section header.closed {
  position: fixed;
  left: 2em;
  top: 2em;
  width: 3em;
  height: 3em;
  border-radius: 5em;
  background-color: #fefefe;
  box-shadow: 1px 1px rgba(155, 155, 155, 0.7);
}
section header.closed * {
  display: none;
}
section header.closed button, section header.closed img {
  display: block;
}
section header button {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 5em;
  background-color: #ededed;
  box-shadow: 1px 1px rgba(155, 155, 155, 0.7);
}
section header button img {
  width: 2.5em;
  display: block;
  margin-left: 2px;
}
section main {
  width: 75vw;
  margin: 0 auto;
}
section section.hero-image {
  width: 100%;
  border-radius: 3px;
}
section section.hero-image img {
  width: 100%;
  object-fit: contain;
}
section section.hero-image .post-title {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}
section section.hero-image .post-title h1 {
  text-align: center;
  color: #efefef;
  text-shadow: 1px 1px 3px #dedede;
  font-size: 108px;
  font-family: "Special Elite", cursive;
}
section section.hero-image .post-title h1.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
section section.content {
  position: relative;
  min-height: 100vh;
  width: 60vw;
  margin: 0 auto;
}
section section.content h1, section section.content h2, section section.content h3, section section.content h4 {
  font-family: "Cantarell", sans-serif;
}
section section.content ul {
  position: relative;
  border-radius: 1em;
  box-shadow: 1px 1px rgba(200, 200, 200, 0.75);
  margin: 1em auto;
  padding: 1em;
  background-color: rgba(200, 200, 200, 0.5);
  width: 60%;
}
section section.content ul li {
  list-style: none;
  margin-left: 2rem;
}
section section.content ul li:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  font-family: "Cantarell", sans-serif;
  margin-bottom: 0.5rem;
}
section section.content ul li:last-child {
  margin-top: 1rem;
  margin-left: 1rem;
}
section section.content div.tag {
  background-color: #efefef;
  width: fit-content;
  text-align: center;
  padding: 0.75rem;
  border-radius: 4rem;
  font-family: "Cantarell";
  display: inline-block;
  margin-right: 0.5rem;
  box-shadow: 1px 1px 1px #343434;
}
section section.content div.tag a {
  color: #343434;
  text-decoration: none;
}
section section.content .post-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
section section.content .post-container .postlist-item {
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
}
section section.content .post-container .postlist-item a {
  height: inherit;
  width: inherit;
}
section section.content .post-container .postlist-item a h4 {
  display: none;
  margin-block-start: 0;
  margin-block-end: 0;
}
section section.content .post-container .postlist-item a img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
section section.content .post-container .postlist-item a:hover h4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  color: #efefef;
  background-color: rgba(50, 50, 50, 0.5);
}
section section.content .bottom-nav {
  width: 100%;
  margin: 2em auto;
}
section section.content .bottom-nav .next {
  float: right;
}
section section.content .bottom-nav .previous {
  float: left;
}

@media screen and (max-width: 1024px) {
  section header.open {
    width: 50vw;
    height: unset;
    padding-bottom: 2rem;
  }
  section section.hero-image .post-title {
    top: 20%;
  }
  section section.hero-image .post-title h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 480px) {
  section header.open {
    width: 50vw;
    height: unset;
    padding-bottom: 2rem;
  }
  section section.hero-image .post-title {
    top: 12%;
  }
  section section.hero-image .post-title h1 {
    font-size: 32px;
  }
}

/*# sourceMappingURL=app.css.map */
