---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Cocktails
  order: 2
---
<section class="content">
<h1>Cocktails</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</section>
