---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<section class="content">
  <h1>Cocktails</h1>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</section>

