<div class="post-container">
{% for post in postslist %}
  <div class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">
    {% if post.data.title %}<h4>{{ post.data.title }}</h4>{% else %}<code>{{ post.url }}</code>{% endif %}
    {% if post.data.image %}<img src="/img/{{ post.data.image }}" alt="{{ post.data.title }}"/>{% endif %}
    </a>
  </div>
{% endfor %}
</div>
